   
    button {
      background-color: rgb(255, 255, 0);
      color: black;
      border: none;
      bottom: 0;
      height: 30px;
      font-size: 12pt;
      width: 90px;
      margin: 10px 0 0 0;
    }
    button:hover {
      background-color: orange;
    }

    button:disabled {
      background-color: grey;
    }

    p {
      font-family: Helvetica;
      font-weight: bold;
      width: 250px;
      margin: 18px 0 5px 8px;
    }

    .game {
      margin: 0 auto;
      text-align: center;
    }
    #canvas{
      width: 600px;
      height: 600px;
      background-color: yellow;
    }

